.idea/

# back-end

back-end/venv/

back-end/.flaskenv

back-end/*.pyc
back-end/__pycache__/

back-end/instance/

back-end/.pytest_cache/
back-end/.coverage
back-end/htmlcov/

back-end/dist/
back-end/build/
back-end/*.egg-info/

# front-end

front-end/node_modules
front-end/.pnp
front-end/.pnp.js

# testing
front-end/coverage

# production
front-end/build

# misc
front-end/.DS_Store
front-end/.env.local
front-end/.env.development.local
front-end/.env.test.local
front-end/.env.production.local

front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
